<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkE1gchEKCUBaEWcXPrPyFDfR1H4HXScs</string>
	<key>GCM_SENDER_ID</key>
	<string>592388319148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tavernadoscombos</string>
	<key>PROJECT_ID</key>
	<string>taverna-dos-combos</string>
	<key>STORAGE_BUCKET</key>
	<string>taverna-dos-combos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592388319148:ios:7b7d3e899f80112fa77c09</string>
</dict>
</plist>